UPDATE users SET password_hash = 'c1e66bc9e5379c0d128d4920523185e1:b7bcc5809d83d6dc4e337bb5539586a37528853f78330647461d501ae0b93193' WHERE email = 'teacher@cbt.local';
UPDATE users SET password_hash = 'edfecc691fd1e7e17ff1bbc35b2a092b:c44ac844857a6907be5c1d99e19768103cedaf5d4395c3b0ba416051ac8e5d90' WHERE email = 'faculty_physics@cbt.local';
UPDATE users SET password_hash = 'ddf64f1b32709da5145bc73d5ba3b150:f4d7477166d8c40d6f3ef2037bc52b0214a94139478a8482af83be4eb5c858fe' WHERE email = 'faculty@qforge-demo.edu';
UPDATE users SET password_hash = 'badb62f0e8b07297747e238169984d63:81260af6dd3137d5c37ef2e4e8d75eccb14f7b17819ccc61e6ceddac463ea8ac' WHERE email = 'faculty@example.com';
UPDATE users SET password_hash = '2ad7334735ecd3657fcdcace2d53ea28:62cb05cb506e9711645212442fb21a0a0c47d882e571fa90c713746b3d15a6ab' WHERE email = 'faculty2@example.com';
UPDATE users SET password_hash = '7bdd6134422f5cf988a8bb2b56ff88e0:9ec5e1f277155f33029bb32c25c79e4d901c91b982523f05364cd3461424e574' WHERE email = 'biology@cbt.local';
UPDATE users SET password_hash = '3217967a0c0817506fe19d7c329ce9a1:51eac5b3f581499e0086fd3070a16f89f01b217e4d8271b6c4507b7dad05bdc2' WHERE email = 'maths@cbt.local';
